/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto Condensed', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
}
.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  font-weight: 600;
  font-size: 40px;
  text-decoration: none;
  color: black;
}
@media (max-width: 600px) {
  .navbar .logo {
    flex-direction: column;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }
}
.navbar .link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  justify-content: space-between;
  height: 100%;
  width: 33.3%;
}
@media (max-width: 600px) {
  .navbar .link-container {
    width: 100%;
  }
}
.navbar .link-container .link {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.navbar .link-container .link:hover {
  background-color: lightgray;
}
@media (max-width: 600px) {
  .navbar .link-container .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: 70px;
    width: 100%;
  }
}
.navbar .cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 250px;
  height: 100%;
}
@media (max-width: 600px) {
  .navbar .cta-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}
.navbar .cta-container .nav-cta {
  width: 50%;
  height: 100%;
  padding-top: 40px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .navbar .cta-container .nav-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: 70px;
    width: 100%;
  }
}
.navbar .cta-container .signup {
  border: 1px solid lightgray;
  color: white;
  background-color: #EB5972;
}
.navbar .cta-container .signup:hover {
  background-color: #d14960;
}
.navbar .cta-container .login {
  transition: 0.5s;
}
.navbar .cta-container .login:hover {
  background-color: lightgray;
}
.navbar .cta-container .profile {
  background-color: #6FF2C4;
}
.navbar .cta-container .profile:hover {
  background-color: #51ebb5;
}
.home-container {
  width: 100%;
}
.home-container .banner {
  width: 100%;
}
.home-container .banner img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}
.home-container .welcome-text {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  padding: 50px;
}
.feed {
  margin: 0 auto;
  max-width: 700px;
}
.feed .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}
.feed .add-button {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin: 20px auto;
  padding: 5px;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 40px;
  border-radius: 50%;
}
.feed .modal-content {
  border: 1px solid blue;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.profile-container {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
}
@media (max-width: 600px) {
  .profile-container {
    flex-direction: column;
  }
}
.profile-container .user-profile-container {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 22px;
  margin-right: 0;
  width: 200px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .profile-container .user-profile-container {
    width: 100%;
  }
}
.profile-container .user-profile-container .user-avatar {
  border-radius: 10px;
  margin: 20px 0;
}
.profile-container .user-feed {
  border: 1px solid red;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid gainsboro;
  margin: 80px auto;
  max-width: 500px;
  padding: 120px 0;
}
@media (max-width: 600px) {
  .form-container {
    margin: 0 auto;
  }
}
.form-container .success {
  color: green;
}
.form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 70%;
  flex-direction: column;
}
@media (max-width: 600px) {
  .form-container form {
    width: 100%;
  }
}
.form-container form p {
  color: red;
}
.form-container form input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  margin: 10px auto;
}
.form-container form button {
  width: 100%;
  height: 60px;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 16px;
}
.poem-post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
  justify-content: space-around;
  border-radius: 10px;
}
.poem-post-container .poem-stamp {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.poem-post-container .poem-stamp .post-menu {
  width: 35px;
  height: 35px;
}
.poem-post-container .poem-stamp .modal {
  background-color: whitesmoke;
  border: 1px solid maroon;
  width: 100px;
  height: 200px;
  z-index: 15;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.poem-post-container .poem-stamp .modal .menu-exit {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
}
.poem-post-container .poem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.poem-post-container .poem-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.poem-post-container .poem-stats .stats-item {
  margin: 2px;
  padding: 0;
}
.poem-post-container .poem-stats .stats-left {
  display: flex;
  margin: 5px 10px 5px 10px;
}
.poem-post-container .poem-stats .stats-left .upvote-icon {
  width: 30px;
  height: 30px;
}
.poem-post-container .poem-stats .stats-left .likes-count {
  padding-top: 3px;
}
.poem-post-container .poem-stats .stats-right {
  display: flex;
  margin: 5px 10px 5px 0px;
}
.poem-post-container .comments-container {
  border: 1px solid whitesmoke;
  padding: 10px 0;
  background-color: #eeeeee;
  height: 300px;
  overflow: scroll;
}
.poem-post-container .comments-container .comment {
  font-size: 8px;
  padding: 20px;
}
.poem-post-container a {
  font-size: 1.5rem;
}
.container-left {
  width: 200px;
  height: 70px;
  display: flex;
}
.container-left .avatar {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container-left .stamp-text {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-left .stamp-text .stamp-text-item {
  margin-top: 4px;
  text-align: center;
  padding: 0;
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.container-left .stamp-text .author {
  font-weight: bolder;
  font-size: 20px;
}
.comment-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: whitesmoke;
}
.comment-form-container .comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80%;
}
.comment-form-container .comment-form .comment-input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
}
.comment-form-container .avatar {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
