.profile-container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;

    @media(max-width:600px){
        flex-direction: column;
    }


    .user-profile-container {
        .border(lightgrey);
        .center();
        flex-direction: column;
        justify-content: start;
        margin-top: 22px;
        margin-right: 0;
        width: 200px;
        border-radius: 10px;

        @media(max-width:600px){
            width: 100%;
        }

        .user-avatar {
            border-radius: 10px;
            margin: 20px 0;
        }
    }    

    .user-feed {
        .border(red);
    }
}