.container-left {
    width  : 200px;
    height : 70px;
    display: flex;

    .avatar {
        margin       : 0 10px;
        width        : 70px;
        height       : 70px;
        border-radius: 50%;
    }

    .stamp-text {
        margin-top     : 5px;
        display        : flex;
        flex-direction : column;
        justify-content: space-around;

        .stamp-text-item {
            text-align    : center;
            padding-bottom: 0px;
            font-size     : 15px;
        }

        .author {
            font-weight: bolder;
            font-size  : 20px;
        }
    }

}