.container-left {
    width  : 200px;
    height : 70px;
    display: flex;

    .avatar {
        margin       : 0 10px;
        width        : 50px;
        height       : 50px;
        border-radius: 50%;
    }

    .stamp-text {
        height: 50px;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        .stamp-text-item {
            margin-top: 4px;
            text-align    : center;
            padding: 0;
            font-size     : 15px;
            color: black;
            text-decoration: none;
        }

        .author {
            font-weight: bolder;
            font-size  : 20px;
        }
    }

}

.comment-form-container {
    width: 100%;
    .center();
    margin-top: 20px;
    background-color: whitesmoke;

    .comment-form {
        .center();
        height: 50px;
        width: 80%;
        .comment-input {
            width: 100%;
            font-size: 14px;
            padding: 10px;
        }
    }
    .avatar {
        margin       : 0 10px;
        width        : 50px;
        height       : 50px;
        border-radius: 50%;
    }
}
